<div class="nested-fields">
	<div class="panel panel-info">
		<% f_identifier = "#{f.object_name}[campu_id]".gsub(/(\])?\[/, "_").chop %>
		<div class="panel-heading">
			<div>
				<b>A.Y.</b>
				<%= f.input_field :ay_from %>
				<b>-</b>
				<%= f.input_field :ay_to %>
			</div>
		</div> <!-- panel heading -->
		<div class="panel-body">
			<div class="tabbable">
				<ul class="nav nav-tabs">
				  	<li role="presentation" class="active"><a href="#info_<%= f_identifier %>" data-toggle="tab">Info</a></li>
				  	<li role="presentation"> <a href="#statistics_<%= f_identifier %>" data-toggle="tab">Statistics</a></li>
				  	<li role="presentation"> <a href="#needs_<%= f_identifier %>" data-toggle="tab">Institutional Needs</a></li>
				  	<li role="presentation"> <a href="#guidelines_<%= f_identifier %>" data-toggle="tab">Development Guidelines</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="info_<%= f_identifier %>" >
						<div class="well well-sm">
							<b>Became Constituent Unit/Academic Focus:</b>
							<br>
							<%= f.input :field_ein, :label => false, :input_html => { :rows => 10 } %>
						</div>
					</div> <!-- info -->
					<div class="tab-pane" id="statistics_<%= f_identifier %>" >
						<div class="well well-sm">
							<b>Number of Programs:</b>
							<li>
							<%= f.label :program_undergrad, "Undergraduate:" %>
							<%= f.input_field :program_undergrad %>
							</li>
							<li>
							<%= f.label :program_grad, "Graduate:" %>
							<%= f.input_field :program_grad %>
							</li>
						</div>
						<div class ="well well-sm">
							<b>UPCAT:</b>
							<li>
								<%= f.label :upcat_applicant, "Applicants:"%>
								<%= f.input_field :upcat_applicant %>
							</li>
							<li>
								<%= f.label :upcat_qualifier, "Qualifiers:"%>
								<%= f.input_field :upcat_qualifier %>
							</li>
						</div>
						<div class="well well-sm">
							<b>Student Population:</b>
							<li>
								<%= f.label :studpop_basic, "Basic:"%>
								<%= f.input_field :studpop_basic %>
							</li>
							<li>
								<%= f.label :studpop_undergrad, "Undergraduates:"%>
								<%= f.input_field :studpop_undergrad %>
							</li>
							<li>
								<%= f.label :studpop_grad, "Graduates:"%>
								<%= f.input_field :studpop_grad %>
							</li>
						</div>
						<div class="well well-sm">
							<b>Number of graduates:</b>
							<li>
								<%= f.label :grads_basic, "Basic:"%>
								<%= f.input_field :grads_basic %>
							</li>
							<li>
								<%= f.label :grads_undergrad, "Undergraduates:"%>
								<%= f.input_field :grads_undergrad %>
							</li>
							<li>
								<%= f.label :grads_grad, "Graduates:"%>
								<%= f.input_field :grads_grad %>
							</li>
						</div>
						<div class="well well-sm">
							<b>Number of staff:</b>
							<li>
								<%= f.label :faculty, "Faculty:"%>
								<%= f.input_field :faculty %>
							</li>
							<li>
								<%= f.label :reps, "REPS:"%>
								<%= f.input_field :reps %>
							</li>
							<li>
								<%= f.label :admin, "Admin:"%>
								<%= f.input_field :admin %>
							</li>
						</div>
						<div class="well well-sm">
							<b>Area and Location:</b>
							<li>
								<%= f.label :total_fte_campus_pop, "Total FTE Campus Population:"%>
								<%= f.input_field :total_fte_campus_pop %>
							</li>
							<li>
								<%= f.label :campus_area_hectare, "Campus Area (in hectares):"%>
								<%= f.input_field :campus_area_hectare, value: number_with_precision(f.object.campus_area_hectare, precision: 2) %>
							</li>
							<li>
								<%= f.label :topography, "Area Location/Topography:"%>
								<%= f.input_field :topography %>
							</li>
							<li>
								<%= f.label :host_lgu, "Host LGU Unit:"%>
								<%= f.input_field :host_lgu %>
							</li>
						</div>
					</div> <!-- statistics -->
					<div class="tab-pane" id="needs_<%= f_identifier %>" >
						<div class="well well-sm">
							<b>Campus General Institutional Needs:</b>
							<li>
								<%= f.label :field_zwei, "Quality of life for students, faculty, staff, and visitors:"%>
								<br>
								<%= f.input :field_zwei, :label => false, :input_html => { :rows => 10 } %>
							</li>
							<li>
								<%= f.label :field_drei, "Facilities that support the University's teaching and research missions:"%>
								<br>
								<%= f.input :field_drei, :label => false, :input_html => { :rows => 10 } %>
							</li>
							<li>
								<%= f.label :field_vier, "Linkages to the local and regional economic development:"%>
								<br>
								<%= f.input :field_vier, :label => false, :input_html => { :rows => 10 } %>
							</li>
						</div>
					</div> <!-- needs -->
					<div class="tab-pane" id="guidelines_<%= f_identifier %>" >
						<div class="well well-sm">
							<b>Specific Campus Development Guidelines:</b>
							<br>
							<%= f.input :field_funf, :label => false, :input_html => { :rows => 10 } %>
						</div>
					</div> <!-- guidelines -->
				</div> <!-- tab content-->
			</div> <!-- tabbable -->

			<!-- for future implementation of additional profiles -->
			<% button_tag :class => "btn btn-warning pull-right" do %>
				<% icon('remove') %>
				<% link_to_remove_association 'Remove', f %>
			<% end %>

		</div><!-- panel body-->
	</div> <!-- panel info -->
</div> <!-- nested field -->



