
<div class="nested-fields">
<%= f.input :ay_from %>
<%= f.input :ay_to %>
<%= f.input :program_undergrad %>
<%= f.input :program_grad %>
<%= f.input :upcat_applicant %>
<%= f.input :upcat_qualifier %>
<%= f.input :studpop_basic %>
<%= f.input :studpop_undergrad %>
<%= f.input :studpop_grad %>
<%= f.input :grads_basic %>
<%= f.input :grads_undergrad %>
<%= f.input :grads_grad %>
<%= f.input :faculty %>
<%= f.input :reps %>
<%= f.input :admin %>
<%= f.input :total_fte_campus_pop %>
<%= f.input :campus_area_hectare %>
<%= f.input :topography %>
<%= f.input :host_lgu %>
<%= f.input :field_ein %>
<%= f.input :field_zwei %>
<%= f.input :field_drei %>
<%= f.input :field_vier %>
<%= f.input :field_funf %>


<%= link_to_remove_association 'remove', f %>
</div>


