<%= simple_form_for @campu do |f| %>
	<% if current_user.admin %>
		<%= f.input :campus_name, required: true, autofocus: true %>
	<% else %>
		<%= f.input :campus_name, required: true, autofocus: true, :readonly => true %>
	<% end %>

	<h3>Profiles</h3>
	<div class="nested-fields">
		<%= f.simple_fields_for :campu_profiles do |profile| %>
			<%= render 'campu_profile_fields', :f => profile %>
		<% end %>

		<!-- for future implementation of additional profiles-->
		<% button_tag :class => "btn btn-info" do %>
			<% icon('add') %>
			<% link_to_add_association 'Add a profile', f, :campu_profiles %>
		<% end %>
	</div>
	<%= f.button :submit, "Submit", :class => "btn btn-success" %>
<% end %>
<%= button_to "Back", 'javascript:history.go(-1);', :method => "get", :class => "btn btn-warning" %>