<div id="userpanel-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#userpanel-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#userpanel-carousel" data-slide-to="1"></li>
    <li data-target="#userpanel-carousel" data-slide-to="2"></li>
    <li data-target="#userpanel-carousel" data-slide-to="3"></li>
    <li data-target="#userpanel-carousel" data-slide-to="4"></li>
    <li data-target="#userpanel-carousel" data-slide-to="5"></li>
    <li data-target="#userpanel-carousel" data-slide-to="6"></li>
    <li data-target="#userpanel-carousel" data-slide-to="7"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "up_diliman.jpg" %>
      <div class="carousel-caption">
        <h3>University of the Philippines Diliman</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "up_baguio.jpg" %>
      <div class="carousel-caption">
        <h3>University of the Philippines Baguio</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "up_cebu.jpg" %>
      <div class="carousel-caption">
        <h3>University of the Philippines Cebu</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "up_LB.jpg" %>
      <div class="carousel-caption">
        <h3>University of the Philippines Los Banos</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "up_visayas.jpg" %>
      <div class="carousel-caption">
        <h3>University of the Philippines Visayas</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "up_mindanao.jpg" %>
      <div class="carousel-caption">
        <h3>University of the Philippines Mindanao</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "up_os.jpg" %>
      <div class="carousel-caption">
        <h3>University of the Philippines Open University</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag "up_manila.jpg" %>
      <div class="carousel-caption">
        <h3>University of the Philippines Manila</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#userpanel-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#userpanel-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>